# virtual env
.venv/

# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# secrets
.env
config.sh

# packaging / editable install artifacts
*.egg-info/
.eggs/
dist/
build/
*.egg

# test reports
allure-results/
allure-report/

# lab-fw test artifacts
.lab_fw_artifacts/

# OS / editor (полезно сразу)
.DS_Store
Thumbs.db
.idea/
.vscode/